*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.btn__secondary {
  color: #FFF;
  background-color: #C8b7c9;
  border-color: #C8b7c9; }

.btn:hover {
  background-color: #9d7982;
  color: #FFF; }

.card__color {
  color: #8ba4b3; }

.card__text {
  color: #696969; }

.loading {
  width: 100%;
  display: flex; }
  .loading__content {
    margin: 0 auto;
    width: 20%; }
  .loading__img {
    width: 100%;
    height: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
    @media only screen and (max-width: 100em) {
      .popup__content {
        width: 60vw; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 80vw; } }
  .popup__img {
    display: block;
    width: 100%;
    height: 100%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    z-index: 10000; }
  .popup__close:hover {
    color: #55c57a; }

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, 250px);
  grid-column-gap: .2em; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.gallery444 {
  width: 100%;
  display: grid;
  grid-column-gap: .2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 200px);
  margin-bottom: .2em; }

.gallery522 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(auto, 250px);
  grid-row-gap: .2em;
  grid-column-gap: .2em; }
  .gallery522__item--1 {
    grid-column: 1 / span 2; }
  .gallery522__item--2 {
    grid-column: 3; }
  .gallery522__item--3 {
    grid-column: 4 / span 2; }

.gallery66 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(auto, 300px);
  grid-column-gap: .2em;
  margin-bottom: 1em; }

.gallery662 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(auto, 150px));
  grid-row-gap: .2em;
  grid-column-gap: .2em;
  margin-bottom: 1em; }
  .gallery662__item--1 {
    grid-column: 1;
    grid-row: 1/span 2; }
  .gallery662__item--2 {
    grid-column: 2;
    grid-row: 1; }
  .gallery662__item--3 {
    grid-column: 2;
    grid-row: 2; }
  .gallery662__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.gallery2622 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
  grid-template-rows: minmax(auto, 150px);
  grid-column-gap: .2em;
  margin-bottom: 1em; }

.gallery845 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
  grid-template-rows: minmax(auto, 150px);
  grid-column-gap: .2em;
  margin-bottom: 1em; }

.gallery643 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(auto, 150px));
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  margin-bottom: 1em; }
  .gallery643__item--1 {
    grid-column: 1;
    grid-row: 1/span 3; }
  .gallery643__item--2 {
    grid-column: 2;
    grid-row: 1; }
  .gallery643__item--3 {
    grid-column: 2;
    grid-row: 2; }
  .gallery643__item--4 {
    grid-column: 2;
    grid-row: 3; }

.galleryFlex {
  display: flex;
  margin-bottom: 1.2em; }
  .galleryFlex__content--1 {
    width: 60%;
    margin: 0 auto; }
  .galleryFlex__item {
    width: 100%; }

.nav-link {
  text-transform: uppercase;
  color: #d8d5d2 !important; }

.navbar {
  background-color: #424f5c !important; }
